@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5505 Rue Irwin<br />
    Montreal, QC H8N 1A1<br />
    <abbr title="Phone">P:438-880-3131</abbr>
    438-880-3131
</address>

<address>
    <strong>Our Mail:</strong> <a href="mailto:luckytempeh@gmail.com">luckytempeh mail</a>
</address>